*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box; /*ajuda a trabalhar com larguras, espaçamentos de margem de maneira mais fácil*/
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%; 
}